{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
	{% tailwind_css %}
	<title>Home Page</title>
</head>
<body class="bg-slate-200 px-0 font-serif">
    <nav class="bg-white flex rounded-2xl items-center mx-1 my-1 py-2">
    <div class="text-2xl font-bold ml-10">Dociffy</div>
    <ul class="flex space-x-3 ml-52 px-1 py-1">
        <li class="px-1 text-lg font-mono font-bold hover:underline"><a href="{% url 'home' %}">Home</a></li>
        <li class="px-1 text-lg font-mono font-bold hover:underline"> <a href="{% url 'chatbot_view'%}">Chatbot</a></li>
        <li class="px-1 text-lg font-mono font-bold hover:underline"> <a href="{% url 'verify' %}">Verify</a></li>
        <li class="px-1 text-lg font-mono font-bold hover:underline"><a href="{% url 'profile'%}">Profile</a></li>
        <li class="px-1 text-lg font-mono font-bold hover:underline"> <a href="#aboutSection">About Us</a></li> 
  {% if not user.is_authenticated %}
    <li class="space-x-1 flex ml-10">
        <button class="bg-white ml-80 w-28 rounded-xl border border-black px-2">
            <a href="{% url 'login' %}">Sign in</a>
        </button>
        <button class="bg-black ml-80 w-28 text-white rounded-xl border border-black px-2">
            <a href="{% url 'register' %}">Get Started</a>
        </button>
    </li>
{% endif %}

    </ul>
        </nav>
        <main>
            <div class="min-h-screen  bg-cover bg-center bg-[radial-gradient(ellipse_at_top_center,_rgba(0,0,0,0.8),_black)] text-white mx-2 my-2 rounded-xl">
                {% block content %}
                <!-- Default content if not overridden -->
                {% endblock %}
            </div>
        </main>
</body>
</html>